@use "sass:map";

$breakpoints: (
  sm: 640px,
  md: 900px,
  lg: 1100px,
);

@mixin up($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

@mixin down($size) {
  @media (max-width: calc(#{map.get($breakpoints, $size)} - 1px)) {
    @content;
  }
}
